version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - muchtodo-net

  backend:
    build: .
    container_name: muchtodo-api
    restart: always
    depends_on:
      - mongodb
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://admin:password@mongodb:27017/muchtodo
      APP_ENV: development
    networks:
      - muchtodo-net

volumes:
  mongo_data:

networks:
  muchtodo-net: